*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
   position: relative;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(0,0,0, .8);
  
}

button {
    padding: 0;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}
.cssMemSlider{
  max-width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
.slider__btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;

  border: 0.2rem solid rgb(192, 74, 74);
  transition: 0.2s all linear;
  cursor: pointer;
}
.slider__btn:checked{background-color: rgb(130, 231, 83);}


.slider-track{
  display: flex;
  transform: translateX(0);
  transition: all .7s ease-in-out;
  margin: 5rem 0;
}


.quotes{
  display: flex;
  transition: all .7s ease-in-out;
}
.quotes__item{
  text-align: center;
  padding: 0 1rem;
  min-width: 100%;
  max-width: 100%;
  font-size: 4rem;
  line-height: 4rem;
  color: darkmagenta;
}


.slider-controls  .slider__btn:nth-child(2):checked ~ .slider-track, .slider-controls  .slider__btn:nth-child(2):checked ~ .quotes  {
  transform: translateX(-100%);

}
.slider-controls  .slider__btn:nth-child(1):checked ~ .slider-track, .slider-controls  .slider__btn:nth-child(1):checked ~ .quotes   {
  transform: translateX(0);
}
.slider-controls  .slider__btn:nth-child(3):checked ~ .slider-track, .slider-controls  .slider__btn:nth-child(3):checked ~ .quotes   {
  transform: translateX(-200%);
}
.slider-controls  .slider__btn:nth-child(4):checked ~ .slider-track, .slider-controls  .slider__btn:nth-child(4):checked ~ .quotes  {
  transform: translateX(-300%);
}
.slider-img{
  min-width: 100%;
  width: 100%;
  min-height: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider-img:first-child{
  
  background-color:rgb(184, 0, 0) ;
}
.slider-img:nth-child(2){
 
  background-color: chartreuse;
}
.slider-img:nth-child(3){
  
  background-color: coral;
}
.slider-img:nth-child(4){
  
  background-color: violet;
}

.slider__btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
transform: translateX(0);
  border: 2px solid rgb(192, 74, 74);
  transition: 0.2s all linear;
  cursor: pointer;
}
.slider__btn:hover{background-color: rgb(52, 162, 190);}
.slider-img:nth-child(1){
  background-image: url(./img/slide-1.jpg);
}
.slider-img:nth-child(2){
  background-image: url(./img/slide-2.jpg);
}
.slider-img:nth-child(3){
  background-image: url(./img/slide-3.jpg);
}
.slider-img:nth-child(4){
  background-image: url(./img/slide-4.jpg);
}